{% extends '../../layouts/default.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User list</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a href="/user/new/" class="btn btn-primary">Add a new one</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Source</th>
          <th colspan="3" class="text-center">Action</th>
        </tr>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username || '-' }}</td>
          <td>{{ user.firstname || '-' }}</td>
          <td>{{ user.lastname || '-' }}</td>
          <td>{{ user.email || '-' }}</td>
          <td>{{ user._source || '-' }}</td>
          <td>
            <td><a href="/user/view/{{ user.id }}/">View</a></td>
            <td><a href="/user/edit/{{ user.id }}/">Edit</a></td>
            <td><a href="/user/delete/{{ user.id }}/">Delete</a></td>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan="4">
          </td>
          <td colspan="3"><p>{{ users.length }} users</p></td>
        </tr>
      </table>

    </div>
  </div>
</div>
{% endblock %}
