!.gitkeep

# logs
/logs/**/*
*.log

# vendors
node_modules

# compiled code
lib

tmp
tmp/**/*

public
public/**/*
!public/config.js

# environment config
src/includes/config/**/env-override.js
src/includes/config/development/*.*
src/includes/config/staging/*.*
src/includes/config/production/*.*
