{% extends '../../layouts/default.html' %}

{% block content %}
<h1>Update</h1>

<form method="post">
    <div>
        <label>
            Title
            <input type="text" value="{{ form.book.title }}">
        </label>
    </div>
    <div>
        <label for="description">
            Description
            <textarea type="text" name="description" id="description">{{ form.book.description }}</textarea>
        </label>
        {% if form.errors.firstname %}
            {{ form.errors.firstname }}
        {% endif %}
    </div>
    <div>
        <label for="author">
            Author
            <input type="text" name="author" id="author" value="{{ form.book.author }}">
        </label>
        {% if form.errors.author %}
            {{ form.errors.author }}
        {% endif %}
    </div>
    <input type="submit">
</form>

{% endblock %}
