{% extends '../../layouts/default.html' %}

{% block content %}

<h1>Book list</h1>

<p><a href="/book/new/">Add a new one</a></p>

<form method="post">

<table>
  <tr>
    <th></th>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
  </tr>
{% for book in books %}
  <tr>
    <td><input type="checkbox" name="id[]" value="{{ book.id }}"></td>
    <td>{{ book.id }}</td>
    <td>{{ book.title || '-' }}</td>
    <td>{{ book.description || '-' }}</td>
    <td>{{ book.author || '-' }}</td>
    <td>
      <td><a href="/book/view/{{ book.id }}/">View</a></td>
      <td><a href="/book/edit/{{ book.id }}/">Edit</a></td>
      <td><a href="/book/delete/{{ book.id }}/">Delete</a></td>
    </td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="4">
      <select name="action">
        <option value="delete">Delete selected items</option>
      </select>
      <button>Submit</button>
    </td>
    <td colspan="3"><p>{{ books.length }} books</p></td>
  </tr>
</table>

</form>
{% endblock %}
