{% extends '../../layouts/default.html' %}

{% block content %}

<h1>Home</h1>
This is the home page

<form id="subscribe-form">
  <input type="email" placeholder="john@doe.com">
  <input type="submit" value="S'inscrire">
</form>

<h2>Newsfeed list</h2>
<ul>
{% for source in sources %}
  {% if source.url %}
  <li><a href="{{ source.url }}" target="_blank">{{ source.title }}</a></li>
  {% else %}
  <li>{{ source.title }}</li>
  {% endif %}
{% endfor %}
</ul>

<h2>User list loaded from api on front</h2>
<ul id="user-list"></ul>
{% endblock %}
