{% extends '../../layouts/default.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Home </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Newsfeed list</h2>
      {% if sources.length %}
      <ul>
      {% for source in sources %}
        {% if source.url %}
        <li><a href="{{ source.url }}" target="_blank">{{ source.title }}</a></li>
        {% else %}
        <li>{{ source.title }}</li>
        {% endif %}
      {% endfor %}
      </ul>
      {% else %}
        No source yet
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
