{% extends '../../layouts/default.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>{{ pageTitle }}</h1>
      </div>
      {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
      {% for strategy in strategies %}
        <a href="/login/{{strategy}}/" class="btn btn-primary btn-lg">{{strategy}}</a>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
